* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Sans-Serif;

  }
  
  .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr ;  }


    @media only screen and (min-width: 320px) and (max-width: 479px){
      .wrapper{
display: block;      }
  
  
  }